body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
/* ----- header ----- */
.head-main{
    height: 400px;
    background: url('https://cdn.pixabay.com/photo/2022/12/23/16/03/sunrise-7674594_960_720.jpg') center no-repeat;
    background-size: cover;
}
.head-caption-first{

    position: relative;
    top: 155px;
    right: 63px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-shadow: 2px 2px 8px #fda964;
    font-size: 1.5rem;
    color: #fda964;
    opacity: 0.5;
}
.head-caption-second{
    margin-top: 50px;
    position: relative;
    top: 20px;
    left: 63px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-shadow: 2px 2px 10px #fda964;
    font-size: 2rem;
    color: #fda964;
    opacity: 0.6;
}   
.navi{
    margin-top: -20px;
}

.nav-links{
    flex-wrap: wrap;
    list-style: none;
    justify-content: Space-around;
    display: flex;
}

.nav-links li a{

    text-decoration: none;
    color: aliceblue;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4rem;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.7;
}
.nav-links li a:hover{
    opacity: 1;
    color: white;
}
.nav-links li:first-child{
    margin-left: 0;
}
.nav-links li:last-child{
    margin-right: 30px;
}
/* ------ / header ----- */
/* ----- main content ----- */
main{
    margin: 0 auto;
    width: 1560px;
    background-color: #f5f5f5;
}
main .news:nth-child(-n+2) h2::before{
    content: "New ";
    font-style: italic;
  }
.news{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 0 32px;
}

.news p{
    font-size: 1.2rem;
}
article{
    box-shadow:5px 3px 5px 2px gray;
    background-color: white;
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 25px;
}
.article-meta{
    margin-bottom: 10px;
}
.contents{
    font-weight: bold;
    font-size: 1.3rem;
}
article a {
    font-weight: bold;
    text-decoration: none;
    color:#000;
}
article a:hover{
    color: rgb(107, 107, 124);
}
article h2{
    margin-bottom: 5px;
}
article img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}
main .news:nth-child(even){
    background-color:  #f0f0f0;
}
/* ----- footer ----- */
footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links{
    padding-bottom: 21px;
    width: 1560px;
    border-bottom: solid #f5f5f5;
    margin: 0 auto 50px auto;

}
footer .links > a{
    color: rgb(107, 107, 124);
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
footer .links > a:hover{
    opacity: 0.4;
}
.copyright{
    color: rgb(107, 107, 124);
}
/* ----- / footer ----- */
